.modal-div {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	max-height: 400px;
	max-width: 800px;
	display: none;
}

.fa-close {
	position: absolute;
	right: 40px;
	top: 40px;
	color: white;
	cursor: pointer;
	fontSize: 48px;
}

.previewText {
	position: absolute;
	top: 5px;
	outline: none;
	color: white;
}

.previewDiv {
	width: 850px;
	height: 500px;
	background: #202020;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.saveButton {
	position: absolute;
	bottom: 10px;
	cursor: pointer;
	left: 100px;
	color: grey;
}

.changeButton {
	position: absolute;
	bottom: 10px;
	cursor: pointer;
	color: grey;
}

.clearButton {
	position: absolute;
	bottom: 10px;
	right: 100px;
	cursor: pointer;
	color: grey;
}

.canvas {
	position: fixed;
}