.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 500px;
	max-height: 100px;
}
.image {
	max-height: 80px;
	min-width: 5px;
	margin: 10px;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}
.imgFlatList {
	width: 100%;
	max-width: 100px;
}
.close {
	position: absolute;
	right: 0px;
	top: 0px
}