#drop-area {
	border: 1px solid grey;
	max-height: 200px;
}
#drop-area.highlight {
  border: 1px dashed black;
}
#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	width: 500px;
  max-height: 100px;
}
.image {
  max-height: 80px;
  min-width: 5px;
  margin: 10px;
  vertical-align: middle;
}