.bodyMessage {
	display: flex;
	flex-direction: row-reverse;
}

.textMessage {
	border: 1px solid lightblue;
	background-color: lightblue;
	padding: 10px;
	margin: 10px;
	max-width: 500px;
	min-height: 10px;
	word-wrap: break-word;
	border-radius: 10px;
}

.imagesList {
	max-height: '200px';
	display: 'relative';
}

.imageMessage {
	max-width: 80px;
	max-height: 80px;
	padding: 0px 5px;
	overflow: hidden;
}

.fileBody {
	display: flex;
	flex-direction: row;
	align-items: center
}