.divMessageList {
	display: table-cell;
	width: 500px;
	height: 80vh;
	border: 1px solid grey;
	background: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
	flex-wrap: nowrap;
}

::-webkit-scrollbar {
	width: 0px;
}